DATABASE_URL=postgresql://admin_tasc:123456@localhost:5432/tasc?schema=public
PUBLIC_POCKET_BASE_URL=http://192.168.43.149:8090
PUBLIC_POCKETBASE_EMAIL=hgbmichel@gmail.com
PUBLIC_POCKETBASE_PASSWORD=1234567890
IM_START=3500
